*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar__links {
  display: flex;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.home-section__form {
  background-color: #e1eedd;
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
